@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=MonteCarlo&family=The+Nautigal&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.idiot{

    font-family: 'Dancing Script';
}

.idiot2{
    font-family:'Courgette';
}

.idiot3{
    font-family: 'Great Vibes', cursive;
}

.idiot4{
    font-family: 'Playfair Display', serif; 
    
}

.idiot5{
    font-family: 'Meow Script', cursive;

}

.idiot6{
    font-family: 'MonteCarlo', cursive;
}

.idiot7{
    font-family: 'The Nautigal', cursive;
}



